* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

.wrapper {
    margin-left: 125px;
    width: 1100px;
    height: 1000px;
    background: #ffffff;
    box-sizing: border-box;
}

.logo {
    margin: 40px 0 0 45px;
}

.menu {
    margin: 40px 45px 0 45px;
    background: #4e4d4d;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    line-height: 40px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: 0.3s;
}

.menu a:hover {
    background: #464646;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}

ul {
    list-style: none;
}

.vertical {
    border: 1px solid #c8c8c8;
    margin: 40px 0 0 45px;
    float: left;

}

.vertical li {
    border-bottom: 1px solid #c8c8c8;
}

.vertical li:last-child {
    border-bottom: none;
}

.vertical a {
    width: 240px;
    display: block;
    text-decoration: none;
    padding: 0 0 0 20px;
    text-align: left;
    line-height: 46px;
    box-sizing: border-box;
}

.vertical a:hover {
    background: #f9f9f9;
    padding-left: 30px;
}

.conteiner {
    float: right;
    margin: 40px 45px 45px 45px;
}

.bike {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 670px;
    height: 400px;
    border: 1px solid #c8c8c8;
}

.conteiner img {
    width: 100px;
    height: 100px;
}

.text {
    width: 650px;
    text-align: left;
    margin: 40px 0 0 20px;
}

footer {
    margin: 40px 45px 0 45px;
    background: #e1e1e1;
}

.last {
    float: left;
}

.last li {
    display: inline-block;
}

.last a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 46px;
}

.last a:hover {
    text-decoration: underline;
}

footer p {
    /*width: 200px;*/
    float: right;
    line-height: 46px;
    margin-right: 20px;
}