<header>
    <div class="wrapper">
    <a href="/"><img src="/img/logo.png" class="logo"></a>
    </div>
    <nav>
        <div class="wrapper flex header-menu">
            <ul class="menu flex">
                <li><a href="/">Головна</a></li>
                <li><a href="/products">Товари</a></li>
                <li><a href="/service">Послуги</a></li>
                <li><a href="/blog/">BikeBlog</a></li>
            </ul>
            <ul class="menu flex">
                <li> <a href="/basket">Корзина</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
        </div>
    </nav>
</header>