<header>
    <a href="/"><img src="img/logo.png" class="logo"></a>
    <ul class="menu clearfix">
        <li><a href="/">Головна</a></li>
        <li><a href="/products">Товари</a></li>
        <li><a href="/service">Послуги</a></li>
        <li><a href="/blog/">BikeBlog</a></li>
    </ul>
</header>