{% extends 'base.html.twig' %}

{% block title %} {{ contents.title }} {% endblock %}
{% block body %}
    <section >
        <div class="wrapper">
            <p class="text">{{ contents.content }}</p>
        </div>
    </section>
{% endblock %}

