{% extends 'base.html.twig' %}

{% block title %} {{ contents.title }} {% endblock %}
{% block body %}
    <section class="clirefix">
        <div >
            <p class="text">{{ contents.content }}</p>
        </div>
    </section>
{% endblock %}

